body
{
 background:url(back/back2.JPG);
 background-size:100% 130%;
 background-repeat: no-repeat;
 background-attachment:fixed;
 TEXT-ALIGN: center;
  height:100%; 
}
 .container{  
  position:relative;  
 }  


  .footer1{  
  position:fixed ;
  bottom:1%;  
  width:100%;  
  display:none;

 } 
 .footer2{  
/*   position:relative;
  bottom:0;  */ 
  width:100%;  
  display:none;
 } 
.daohang
{
	display:block;
	color:white;
	font-size:15px;
	height:75px;
	background-color:#E8DBA0;
	
}
.navbar-header{
	text-align:left;
	background-color:gray;
	 
}
#navbutton{
	width:16%;
	margin-right:42%;
}
#navul{
	margin-left:0;
	width:100%;
	/* border:1px solid yellow; */
}
.daohang-li{

	width:18%;
	text-align:center;
/* 	border:1px solid red; */
	float:left;
}
.daohang1
{
	display:block;
	/* background:rgba(230,220,165,0.8); */
	color:black;
	width:100%;
/* 	border:1px solid blue; */
}
.navbar-default 
{
	border-color:transparent; 
	background:rgba(255,255,255,0);
}

#example-navbar-collapse
{
/*  border:1px solid blue; */
}
#intro
{
	margin-top:0;
}
#galley{
	padding-left:12%; 
    padding-right:12%; 
	margin-top:5%;
}
.img-responsive
{
	width:100%;
	max-height:140px;
    height:140px; 
    height:expression(document.body.clientWidth>140?"140px":"auto");
    overflow:hidden;
/*     border:1px solid #bebebe; */
}
.item1
{ 
   
	padding:3% 3%;
	background:rgba(230,220,165,0.8);
	font-family:mySecFont;
	font-size:18px;
	text-align:left;
}

.foot1
{
	height:48px;
	font-size:20px;
    margin-left:1%;
	width:100%;
		
}
.lifoot{
	width:48px;
	height:48px;
	margin-left:3%;
	float:left;	
    background:rgba(255,255,255,0.6);
}
.foot2
{
	font-size:15px; 
	color:black;
 	margin:0 2%;
	line-height:48px;
	
}
@font-face{
	font-family: mySecFont;
	src:url(Sansation_Regular.ttf);
}
@font-face{
	font-family: myFirstFont;
	src:url(Artifika-Regular.ttf);
}
.item2-1
{
	padding:3% 3%;
   background:rgba(230,220,165,0.8);
	font-family:mySecFont;
	font-size:18px;
	margin-right:1.5%;
/* 	margin-top:2%;*/
	margin-bottom:5%; 
	float:left;
}
.item2-2
{
	padding:3% 3%;
	background:rgba(230,220,165,0.8);
	font-family:mySecFont;
	font-size:18px;
	/* margin-right:15%;
	margin-top:2%;*/
	margin-bottom:5%; 
	float:left;
}
.mygalley
{
	/*height:155px;
	 border:1px solid black; */
 
	margin-right:2%;
	margin-bottom:2%;
	padding:1%;
	background-color:#EEAA66;
}
.form-control{
	
	background:rgba(230,220,165,0.8);
	font-size:20px;
	padding:2% 5%;

}
#message{
	padding:2% 5%;

}
